# 서버 환경 설정
# 개발: dev / 운영: prod
NODE_ENV=

# 데이터베이스 설정
# 형식: postgresql://{유저명}:{비밀번호}@{호스트}:{포트}/{DB명}
DATABASE_URL=postgresql://

# JWT 설정
# openssl rand -base64 32 로 생성 권장
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

# JWT 리프레시 토큰 만료 시간 (예: 7d, 30d)
JWT_REFRESH_TOKEN_EXPIRES_IN=